@{
    ViewData["Title"] = "Home Page";
}

<!-- ช่วงข้อมูลและหน้าคอนเท้น -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Group</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.js"></script>
</head>
<body>
  

        <body>

        <div class="container" style="margin-top: 20px;">
            <!-- Text Field -->
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">เงื่อนไขการดึงข้อมูล</h4>

                            <div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                        style="background-color: #495057;">
                                    ปีฤดูหีบ:
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Link 1</a></li>
                                    <li><a class="dropdown-item" href="#">Link 2</a></li>
                                    <li><a class="dropdown-item" href="#">Link 3</a></li>
                                </ul>

                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                        style="background-color: #495057;">
                                    รหัสรถ:
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Link 1</a></li>
                                    <li><a class="dropdown-item" href="#">Link 2</a></li>
                                    <li><a class="dropdown-item" href="#">Link 3</a></li>

                                </ul>

                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                        style="background-color: #495057;">
                                    วันที่รายการ:
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Link 1</a></li>
                                    <li><a class="dropdown-item" href="#">Link 2</a></li>
                                    <li><a class="dropdown-item" href="#">Link 3</a></li>
                                </ul>
                        <a href="#" class="btn btn-success btn-rounded">ดึงข้อมูล</a>
                        
                            </div>
                        </div>
                    </div>
        
            <br>



            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">ข้อมูลการใช้อะไหล่น้ำมัน กับ รถตัดอ้อย</h4>

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">เงื่อนไขการแสดงข้อมูล</h4>
                            <div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                        style="background-color: #495057;">
                                    Show:
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Link 1</a></li>
                                    <li><a class="dropdown-item" href="#">Link 2</a></li>
                                    <li><a class="dropdown-item" href="#">Link 3</a></li>
                                </ul>

                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                        style="background-color: #495057;">
                                    รหัสรถ:
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Link 1</a></li>
                                    <li><a class="dropdown-item" href="#">Link 2</a></li>
                                    <li><a class="dropdown-item" href="#">Link 3</a></li>
                                </ul>

                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                        style="background-color: #495057;">
                                    วันที่เริ่มต้น:
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Link 1</a></li>
                                    <li><a class="dropdown-item" href="#">Link 2</a></li>
                                    <li><a class="dropdown-item" href="#">Link 3</a></li>
                                </ul>

                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                        style="background-color: #495057;">
                                    ถึงวันที่:
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Link 1</a></li>
                                    <li><a class="dropdown-item" href="#">Link 2</a></li>
                                    <li><a class="dropdown-item" href="#">Link 3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ชื่อ</th>
                                <th>เบอร์โทร</th>
                                <th>ที่อยู่</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ป้าพร</td>
                                <td>06x-xxx-xxx-x</td>
                                <td>กรุงเทพ</td>
                            </tr>
                            <tr>
                                <td>ลุงสมชาย</td>
                                <td>06x-xxx-xxx-x</td>
                                <td>เชียงใหม่</td>
                            </tr>
                            <tr>
                                <td>ลุงสมปอง</td>
                                <td>06x-xxx-xxx-x</td>
                                <td>พะเยา</td>
                            </tr>
                            <tr>
                                <td>ลุงสมชาย</td>
                                <td>06x-xxx-xxx-x</td>
                                <td>เชียงใหม่</td>
                            </tr>
                            <tr>
                                <td>ลุงสมชาย</td>
                                <td>06x-xxx-xxx-x</td>
                                <td>เชียงใหม่</td>
                            </tr>
                            <tr>
                                <td>ลุงสมชาย</td>
                                <td>06x-xxx-xxx-x</td>
                                <td>เชียงใหม่</td>
                            </tr>
                            <tr>
                                <td>ลุงสมชาย</td>
                                <td>06x-xxx-xxx-x</td>
                                <td>เชียงใหม่</td>
                            </tr>
                            <tr>
                                <td>ลุงสมชาย</td>
                                <td>06x-xxx-xxx-x</td>
                                <td>เชียงใหม่</td>
                            </tr>
                            <tr>
                                <td>ลุงสมชาย</td>
                                <td>06x-xxx-xxx-x</td>
                                <td>เชียงใหม่</td>
                            </tr>
                            <tr>
                                <td>ลุงสมชาย</td>
                                <td>06x-xxx-xxx-x</td>
                                <td>เชียงใหม่</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>

                    <div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">รายการ</span>
                            </div>
                            <div>
                                <input type="text" placeholder="กรอกจำนวนรายการ" class="form-control">
                            </div>


                            <div class="input-group-prepend">
                                <span class="input-group-text">ยอดรวม</span>
                            </div>
                            <div>
                                <input type="text" placeholder="กรอกจำนวนยอดรวม" class="form-control">
                            </div>
                        </div>
                        <div>
                            <a href="#" class="btn btn-success">Mark All</a>
                            <a href="#" class="btn btn-success">Un-Mark All</a>
                            <a href="#" class="btn btn-success">Un-Confirm</a>
                            <a href="#" class="btn btn-success">Confirm</a>

                        </div>



                    </div>
                </div>
            </div>
            <br />

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">ข้อมูลการโอนอะไหล่ น้ำมัน คืนพัสดุ</h4>

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">เงื่อนไขการแสดงข้อมูล</h4>
                            <div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                        style="background-color: #495057;">
                                    Show:
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Link 1</a></li>
                                    <li><a class="dropdown-item" href="#">Link 2</a></li>
                                    <li><a class="dropdown-item" href="#">Link 3</a></li>
                                </ul>

                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                        style="background-color: #495057;">
                                    รหัสรถ:
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Link 1</a></li>
                                    <li><a class="dropdown-item" href="#">Link 2</a></li>
                                    <li><a class="dropdown-item" href="#">Link 3</a></li>
                                </ul>

                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                        style="background-color: #495057;">
                                    วันที่เริ่มต้น:
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Link 1</a></li>
                                    <li><a class="dropdown-item" href="#">Link 2</a></li>
                                    <li><a class="dropdown-item" href="#">Link 3</a></li>
                                </ul>

                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                        style="background-color: #495057;">
                                    ถึงวันที่:
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Link 1</a></li>
                                    <li><a class="dropdown-item" href="#">Link 2</a></li>
                                    <li><a class="dropdown-item" href="#">Link 3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ชื่อ</th>
                                <th>เบอร์โทร</th>
                                <th>ที่อยู่</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ป้าพร</td>
                                <td>06x-xxx-xxx-x</td>
                                <td>กรุงเทพ</td>
                            </tr>
                            <tr>
                                <td>ลุงสมชาย</td>
                                <td>06x-xxx-xxx-x</td>
                                <td>เชียงใหม่</td>
                            </tr>
                            <tr>
                                <td>ลุงสมปอง</td>
                                <td>06x-xxx-xxx-x</td>
                                <td>พะเยา</td>
                            </tr>
                            <tr>
                                <td>ลุงสมชาย</td>
                                <td>06x-xxx-xxx-x</td>
                                <td>เชียงใหม่</td>
                            </tr>
                            <tr>
                                <td>ลุงสมชาย</td>
                                <td>06x-xxx-xxx-x</td>
                                <td>เชียงใหม่</td>
                            </tr>
                            <tr>
                                <td>ลุงสมชาย</td>
                                <td>06x-xxx-xxx-x</td>
                                <td>เชียงใหม่</td>
                            </tr>
                            <tr>
                                <td>ลุงสมชาย</td>
                                <td>06x-xxx-xxx-x</td>
                                <td>เชียงใหม่</td>
                            </tr>
                            <tr>
                                <td>ลุงสมชาย</td>
                                <td>06x-xxx-xxx-x</td>
                                <td>เชียงใหม่</td>
                            </tr>
                            <tr>
                                <td>ลุงสมชาย</td>
                                <td>06x-xxx-xxx-x</td>
                                <td>เชียงใหม่</td>
                            </tr>
                            <tr>
                                <td>ลุงสมชาย</td>
                                <td>06x-xxx-xxx-x</td>
                                <td>เชียงใหม่</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>

                    <div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">รายการ</span>
                                 </div>
                                    <br>
                                <div> 
                                <input type="text" placeholder="กรอกจำนวนรายการ" class="form-control">
                            </div>
                            <div>

                            </div>
                            <div class="input-group-prepend">
                                <span class="input-group-text">ยอดรวม</span>
                                 </div>
                                    <br>
                                <div> 
                                <input type="text" placeholder="กรอกจำนวนยอดรวม" class="form-control">
                            </div>
                        </div>

                        <div>

                            <a href="#" class="btn btn-success">Confirm</a>

                        </div>



                    </div>
                </div>
            </div>
            <br />

    </body>
</body>
